*{
    margin: 0;
    padding: 0;
}
.header{
    margin-top: 10px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    display: flex;
    align-items: center;
    gap: 24px;
}
.header__logo {
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 28px;
    color: #173A56;
}
.header__link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
}
.header__btn {
    border: none;
    padding: 10px 23px 9px 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    transition: 1s;

}
.header__btn:hover{
   color: #173A56;
   background: 0; 
   border: 1px solid #BCD0E5;
   cursor: pointer;
   box-sizing: border-box;
}
.header__burger{
    display: none;
}