.quick {
    margin-top: 200px;
}
.quick__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
}
.quick__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
    max-width: 542px;
}
.quick__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}
.quick__bot {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.quick__content {
    display: flex;
    justify-content: space-between;
}
.quick__avatar {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
}