@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');
@import url('./header.css');
@import url('./hero.css');
@import url('./product.css');
@import url('./pricing.css');
@import url('./quick.css');
@import url('./price.css');
@import url('./footer.css');
@import url('./media.css');
body {
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button{
    box-sizing: border-box;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
